 body{
            background-color: black;
        }

        header{
            color: red;
        }

        #divSlideshow img{
            width: 20%;
            height: 50%;
            border-radius: 15px;
        }

        button{
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            border-radius: 5px;
        }